footer {
    padding: 64px 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px;

    @include responsive (max, 991px) {
        padding: 40px 66px;
    }

    .downPart {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include responsive (max, 991px) {
            flex-direction: column;
            gap: 44px;
        }

        .links {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include responsive (max,1600px) {
                width: 56.5%;
            }

            @include responsive (max,1350px) {
                width: 57%;
            }
            @include responsive (max,1200px) {
                width: 59%;
            }
            @include responsive (max, 991px) {
                flex-direction: column-reverse;
                width: 100%;
                gap: 44px;
            }

            &__page {
                display: flex;
                gap: 35px;

                @include responsive (max, 991px) {
                    flex-direction: column;
                }

                a {
                    color: black;
                    text-align: center;
                    font-family: $mainFont;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;

                    &:last-of-type {
                        display: none;

                        @include responsive (max, 991px) {
                            display: inline-block;
                        }
                    }
                }
            }

            &__social {
                display: flex;
                align-items: center;
                gap: 10px;
                transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                a {
                    transition: all 1s step-end;

                    img {
                        &:nth-child(2) {
                            display: none;
                        }

                    }

                    &:hover {
                        img {
                            &:nth-child(1) {
                                display: none;
                            }

                            &:nth-child(2) {
                                display: block;
                            }


                        }
                    }
                }

                @include responsive (max, 991px) {
                    a {
                        transition: all 1s step-end;

                        img {
                            &:nth-child(1) {
                                display: none;
                            }

                            &:nth-child(2) {
                                display: block;
                            }

                        }
                    }
                }
            }
        }
        .copyRights {
            margin: 0;
            color: #A3A3A3;
            text-align: #{$e};
            font-family: $mainFont;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;

            p {
                margin: 0;
                color: #A3A3A3;
                text-align: #{$e};
                font-family: $mainFont;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
            }

            @include responsive (max, 991px) {
                width: 100%;
            }
        }
    }
}